/* Colors Theme */

$white: grey(0);
$black: grey(9);

// Forms //
$border: grey(4);
$border-focus: primary(4);
$border-outline: primary(6);

$inset: grey(1);
$inset-focus: primary(2);
$outset: grey(2);
$outset-focus: primary(3);

$readonly: grey(6);
$disabled: grey(5);

// Messages //

$info: mediumseagreen;
$info-bg: lightgreen;
$error: tomato;
$error-bg: salmon;
