@import "../node_modules/@cosmic-plus/assets/scss/base";

@import "./fonts";
@import "./colors";
@import "./generic";

@import "./component/loading";
@import "./component/spinner";

/* Can be delayed */
@import "./tag/form";

@import "./component/application";
@import "./component/poll-vote-form";
@import "./component/poll-results";

input[type="text"] + button {
  margin-left: -3.15em;
  margin-top: 0.35em;
  width: 1.90em;
  height: 1.90em;
  border-color: transparent!important;
  border-left-color: grey(4)!important;
  line-height: 1.90em;
}

legend {
  float: none;
  padding: 0.4em 0.6em;

  text-align: left!important;
  font-weight: bold;
  overflow: hide;
  

  &::after {
    color: transparent;
    content: "";
    transition: color ease 0.2s;
  }

  &:hover {
    width: 100%;
    background: primary(0);
    cursor: pointer;
    color: primary(6);
  }
  &:hover::after,
  &:active::after {
    margin-left: 1em;
    content:attr(data-hint);
    font-weight: normal;
    font-style: italic;
    color: grey(7);
    white-space: normal;
  }
}

legend > svg {
  margin-bottom: 0.1em;
  height: 1.4em;
  margin-left: 0.6em;
  cursor: pointer;
}
