/* Poll Editor */

.PollEditor {
  .group {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 12%;
    
    input {
      width: unset;
      flex-shrink: 1;
      flex-grow: 1;
      margin: 0.35em;
    }
  }

  nav {
    margin: 0.6em auto;
  }
}
