/* VoteResult */

@import "./gauge";

.PollResults {
  counter-reset: results;

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -0.4em 1em 1em 1em;
    text-align: right;
    font-style: italic;
  }

  @media screen and (max-width: 40em) {
    ol { padding-left: 0; }
  }
}

.PollResults li {
  &:before {
    counter-increment: results;
    content: counters(results, ".") ".";
    margin-right: 0.6em;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  * { flex-grow: 1; }
  @media screen and (max-width: 40em) { flex-wrap: wrap; }

  padding: 0.3em 5%;
  transition: background ease 0.2s;

  .id {
    width: 20%;
    white-space: nowrap;
  }

  .grade {
    width: 30%;
    white-space: nowrap;
  }

  .Gauge {
    width: 50%;
    border: solid thin transparent;
    color: transparent;
    font-size: 0.7em;

    transition: border-color ease 0.2s, color ease 0.2s;

    &:before {
      position: absolute;
      left: 49.5%;
      height: 100%;
      content: "";
      border-left: dashed medium grey(7);
      transition: border ease 0.2s;
    }
  }

  &:hover {
    background: primary(2);

    .Gauge {
      color: grey(7);
      border-color: grey(7);

      &:before {
        border-left: dotted thin grey(7);
      }
    }
  }
}
