/* Widget */

.Widget {
  position: relative;
  background: $white;

  padding: 0 3%;
  overflow-x: auto;
  overflow-y: hidden;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    & > *:not(:first-child) {
      margin-left: 1.6em;
    }
  }
}
