/* Configuration */

// Sizing //

form .half,
form .half + label {
  width: 38%;
  min-width: 8em;
}

form .third,
form .third + label {
  width: 25%;
  min-width: 6em;
}


// Containers //

form {
  clear: both;
  position: relative;
  max-width: 34em;
  margin: 1em auto;
  text-align: center;
}

fieldset,
form > label {
  display: inline-block;
  width: 100%;
  border: none;
  margin: auto;

  & > span:first-child,
  & > legend:first-child {
    display: inline-block;
    margin: 0.35em 0;
    min-width: 20%;

    padding: 0.4em 0.6em;
    overflow: hidden;
    white-space: nowrap;

    text-align: left;
    font-weight: bold;

    &::after {
      color: transparent;
      content: "";
      transition: color ease 0.2s;
    }

    &:hover {
      width: 100%;
      background: primary(0);
      cursor: pointer;
      color: primary(6);
    }

    &:hover::after,
    &:active::after {
      margin-left: 1em;
      content:attr(data-hint);
      font-weight: normal;
      font-style: italic;
      color: grey(7);
      white-space: normal;
    }

    & > svg {
      margin-bottom: 0.1em;
      height: 1.4em;
      margin-left: 0.6em;
      cursor: pointer;
    }
  }
}

// All elements //

textarea,
select,
input,
button,
[type="checkbox"] + label,
[type="radio"] + label {
  appearance: none;

  display: inline-block;
  width: 76%;
  height: 2em;
  line-height: 2em;
  margin: 0.35em 1em;

  border-radius: 0.1em;

  padding: 0 0.4em;
  overflow: hidden;

  transition: all 0.2s ease;

  &[disabled] { color: $disabled; }
}

// Inset elements //

textarea,
select,
input,
button {
  border: solid thin $border;
  background-color: $inset;

  &[readonly] { color: $readonly; }

  &:hover:enabled,
  &:focus:enabled {
    outline: 0;
    box-shadow: 0em 0em 0.1em $border-outline;
    border: solid thin $border-focus;
    background-color: $inset-focus;
  }
}

// Outset elements //

button,
input[type="button"],
input[type="submit"] {
  background: $outset;

  &:hover:enabled,
  &:focus:enabled,
  &.enabled {
    cursor: pointer;
    background: $outset-focus;
  }
}

// Text input button //

input[type="text"] + button {
  margin-left: -3.15em;
  margin-top: 0.35em;
  width: 1.90em;
  height: 1.90em;
  border-color: transparent;
  border-left-color: $border;
  line-height: 1.90em;
}

// Textarea element //

textarea {
  height: unset;
  line-height: 1.4em;
  padding: 0.4em;
  resize: none;
}


// Select element //

$select-arrow: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 50" fill="%23292929"><polygon points="0,0 60,0 30,50"/></svg>';

select {
  background: url($select-arrow) right/1em no-repeat;
}

// Button //

button {
  line-height: 1em;
}

// Checkables elements //

[type="checkbox"],
[type="radio"] {
  display: none;

  // Label styling //
  & + label::before { content: "✘ "; }
  &:checked + label::before { content: "✔ "; }

  & + label {
    width: unset;
    padding: 0 1em;
    line-height: 2em;
    border: none;
    background: $white;
  }

  &:enabled + label:hover {
    cursor: pointer;
    background: $info;
    font-style: normal;
    color: $black;
  }

  &:disabled + label,
  &:not(:checked) + label {
    font-style: italic;
    color: $disabled;
  }

  &:checked:enabled + label {
    background: $info-bg;
  }

  &:checked:disabled + label {
    border: solid thin $disabled;
    color: $black;
  }
}
