/* Table */

table {
  width: 100%;
  margin: 1.4em 0;
  border-collapse: collapse;
  border: solid thin grey(4);
}

th, td {
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
  text-align: left;
}

th {
  height: 2.8rem;
  font-size: 1.05rem;
  background: primary(3);
}

td {
  height: 2.5rem;

  img {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.75rem;
  }
}

tr {
  tbody > &:hover,
  tbody > &.selected {
    cursor: pointer;
    background: primary(2);
  }
}

tfoot {
  height: 2.8rem;
  background: grey(2);
}
