/* Table */

table
{
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  border: solid thin grey(3);
}

th, td
{
  padding: 0.5em 0.75em;
  white-space: nowrap;
  height: 2.5rem;
}

th
{
  height: 2.8rem;
  font-size: 1.05em;
  background: primary(3);
}

td {
  img {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.75em;
  }
}

tr {
  tbody > &:hover,
  tbody > &.selected {
    cursor: pointer;
    background: primary(2);
  }
}

tfoot {
  height: 2em;
  background: grey(1);
}
